* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 0.8rem;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.icon-center {
    margin: 0 auto;
}