body {
    background: #F8F8F8;
}

header {
    color: #ffffff;
    font-size: 0.32rem;
    background: #0c0c0c;
    line-height: 0.8rem;
    position: relative;
}

#reg-return {
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.return-resize {
    width: 0.15rem;
    height: 0.26rem;
}

nav {
    height: 1rem;
    line-height: 1rem;
    background: rgba(255, 255, 255, 1);
}

nav span {
    width: 4rem;
    display: block;
    float: left;
    font-size: 0.32rem;
    margin-left: 0.2rem;
}

nav button {
    display: inline-block;
    width: 1.4rem;
    font-size: 0.3rem;
    height: 0.6rem;
    line-height: 0.4rem;
    border-radius: 0.06rem;
    float: right;
    margin: 0.2rem 0.2rem;
}

.content-box {
    margin-bottom: 0.98rem
}

.active-box {
    height: 3.72rem;
    background: url(../../images/index/banner.png) no-repeat;
    background-size: cover;
    position: relative;
}

.info-box {
    background: #fff;
    padding-bottom: 0.34rem
}

.story-box {
    padding: 0 0.2rem;
    height: 2.36rem;
}

.story-info {
    width: 4.3rem;
    float: left;
}

.story-info ul {
    width: 3.75rem;
    padding-left: 0.2rem;
    height: 0.6rem;
}

.story-info li {
    float: left;
    height: 0.4rem;
    line-height: 0.4rem;
    margin: 0.2rem 0.2rem 0 0
}

.story-info p {
    width: 4.8rem;
    height: 0.9rem;
    font-size: 0.32rem;
    color: rgba(51, 51, 51, 1);
    line-height: 0.45rem;
    margin-top: 0.3rem;
    margin-left: 0.2rem
}

.story-info li img {
    width: 0.3rem;
    height: 0.3rem;
    vertical-align: middle;
    margin-right: 0.07rem
}

.story-info li .eye {
    width: 0.28rem;
    height: 0.19rem;
    float: left;
    margin-top: 0.08rem;
}

.story-info li span {
    float: left;
    font-size: 0.28rem;
    color: rgba(51, 51, 51, 1);
}

.story-img {
    float: right;
    width: 2rem;
    height: 2.36rem;
}

.story-img img {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    float: right;
    margin: 0.3rem 0.3rem 0 0
}

.leader-icon {
    width: 1.7rem;
    height: 0.64rem;
    float: right;
    background: url(../../images/index/1.png) no-repeat;
    background-size: cover;
    font-size: 0.3rem;
    color: rgba(255, 255, 255, 1);
    line-height: 0.8rem;
    text-align: right;
    padding: 0 0.1rem 0 0;
}

.detail-box {
    width: 7.1rem;
    height: 2.5rem;
    margin: 0 auto;
    position: relative;
    border: 0.01rem solid rgba(187, 187, 187, 1);
}

.detail-box .title {
    position: absolute;
    display: inline-block;
    width: 1.6rem;
    height: 0.4rem;
    font-size: 0.28rem;
    text-align: center;
    line-height: 0.4rem;
    top: -0.2rem;
    left: 0.15rem;
    background: rgba(255, 255, 255, 1);
}

.detail-box ul {
    padding: 0.4rem 0.2rem 0 0.2rem
}

.detail-box li {
    width: 50%;
    font-size: 0.28rem;
    float: left;
    line-height: 0.6rem;
    height: 0.6rem;
}

.detail-box li img {
    width: 0.4rem;
    height: 0.4rem;
    margin-right: 0.1rem;
    float: left;
    margin-top: 0.1rem
}

.active-person {
    margin: 0.2rem 0;
    background: #fff;
    padding: 0 0.4rem 0.2rem
}

.active-person p {
    width: 3.6rem;
    font-size: 0.32rem;
    float: left;
    color: rgba(51, 51, 51, 1);
    margin: 0.2rem 0 0.3rem 0
}

.active-person .right {
    font-size: 0.28rem;
    margin: 0.2rem 0 0.3rem 0
}

.active-person li {
    float: left;
    height: 1.4rem;
    margin-right: 0.3rem
}

.active-person li img {
    width: 0.8rem;
    height: 0.8rem;
    float: left;
    border-radius: 50%;
    margin-bottom: 0.2rem
}

.active-person li span {
    font-size: 0.28rem;
    display: block;
    text-align: center;
}

.active-person .right img {
    width: 0.24rem;
    height: 0.14rem;
    float: right;
    width: 0.24rem;
    height: 0.14rem;
    margin-top: 0.12rem;
    margin-bottom: 0.2rem
}

.travel-box {
    background: #fff;
}

.travel-header {
    padding: 0 0.2rem;
    height: 0.99rem;
    line-height: 0.99rem;
}

.travel-header h3 {
    font-size: 0.32rem;
    margin-left: 0.2rem;
}

.introduce-box {
    padding: 0 0.2rem
}

.introduce {
    border-top: 0.02rem solid rgba(229, 229, 229, 1);
    padding: 0.24rem 0.2rem 0.3rem 0.2rem
}

.img {
    height: 3.72rem;
}

.img img {
    background-size: cover;
}

.say {
    padding: 0 0.4rem
}

footer {
    position: fixed;
    width: 100%;
    height: 0.98rem;
    background: rgba(255, 255, 255, 1);
    bottom: 0;
    left: 0;
    z-index: 2;
    border-top: 0.01rem solid #F2F2F2;
}

footer ul {
    width: 3.75rem;
    height: 0.98rem;
    display: flex;
    float: left;
}

footer ul li {
    height: 100%;
    text-align: center;
    flex: 1;
    font-size: 0.2rem;
    border-right: 0.01rem solid #ededed;
}

footer ul li:last-child {
    border-right: 0
}

footer ul li span {
    display: block;
}

footer ul li span:nth-child(2) {
    line-height: 0.3rem
}

footer ul li img {
    width: 0.42rem;
    height: 0.42rem;
    margin-top: 0.1rem
}

footer button {
    display: block;
    width: 3.75rem;
    height: 0.98rem;
    line-height: 0.98rem;
    color: #fff;
    text-align: center;
    font-size: 0.36rem;
    background: rgba(255, 157, 0, 1)
}